{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{%static 'generator/style.css' %}" rel="stylesheet">
    <title>PassGen</title>
</head>
<body>
    <div class='container'>
        <h1 class='row'>PassGen</h1>
    <div class='row'>
    <div class='col'></div>
        <p class='col-8'>Hey, Thanks for checking on this small site... <br><br>
        As a fact and reality no doubt Python is the easiest language to learn.
        But, creating websites with python is not that easy.<br><br>
        Django - one of the most used framework in web development makes our work 
        more efficient and simple. This is my first and little try towards learning
        django and web development using python.
    </p>
    <div class='col'></div>
    </div>
    <div class='row'>
    <div class=''>- Mahesh </div>
    </div>
    </div>
</body>
</html>